$asideColor: #1f2637;
$headerColor: #eef1f7;
$titleColor: #444c63;
$textColor: #8c97b2;
$borderColor: #dadfea;
$buttonColor: #f2795a;
$whiteTextColor: #fff;
$sideBarBorderColor: #323949;
$menuTextColor: #78829d;
$menuActiveItemColor: #15a4fa;

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    &__sidebar {
        position: fixed;
        width: 200px;
        background-color: $asideColor;
        min-height: 100vh;
    }
    &__container {
        margin-left: 200px;
        background-color: #fff;
        width: 100%;
    }
}

.header__title {
    font-weight: bold;
    color: $titleColor;
    font-size: 22px;
    padding: 18px 20px;
    background-color: $headerColor;
    margin: 0;
}

.sidebar {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    margin: 35px 0 0 0;
    padding-bottom: 38px;
    border-bottom: 1px solid $sideBarBorderColor;
    &__button {
        background-color: $buttonColor;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        color: $whiteTextColor;
        padding: 14px 25px;
        padding-bottom: 10px;
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.menu-buttons {
    border-bottom: 1px solid $sideBarBorderColor;
    &__block {
        padding: 0;
        margin: 0;
    }
    &__item {
        list-style-type: none;
        color: $menuTextColor;
        font-size: 13px;
        padding: 14px 20px;
        &--active {
            list-style-type: none;
            color: $whiteTextColor;
            font-size: 13px;
            padding: 14px 20px;
            background-color: $menuActiveItemColor;
        }
    }
}

@media screen and (max-width: 889px) {
    .nav__buttons--item {
        margin-right: 5px;
    }
}

@media screen and (max-width: 760px) {
    .sidebar {
        margin-top: 30px;
    }
}